.wrapper__main-chat
  .main-header
    .header-left
      - current_user.groups.each do |group|
        %h1.group-name 
          = group.name
        %ul.member-lists
          Member :
          - @group.users.each do |user|
            = user.name
      //.header-left__group-name
      //.header-left__member-lists    
    .header-right
      .header-right__exit-btn 
      = link_to edit_group_path(@group.id), class: "head-right__btn" do
        Edit
  .MessageField
    = render @messages
  
  .main-fooder
    = form_with model: [@group, @message], html: {class: "Form"},local: true do |f|
      .new-massages
        .input-box
          = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputImage' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Form__submit'
          